@model IEnumerable<LojaNet.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<hr />

<p> <a class="btn btn-info" href="/Cliente/Incluir">Novo</a> </p>

<table class="table">
    <tr>
        <th> Nome</th>
        <th> Email </th>
    </tr>

    @foreach(var cliente in Model)
    {
        <tr>
            <td>@cliente.Nome</td>
            <td>@cliente.Email</td>
        </tr>
    }
</table>
